h1{
    border: 2PX dotted black;
    display:inline-block;
    background-color: aqua;

}

#img{
    display:grid;
    justify-content: center;
    border: 2px solid red;
    display: inline-block;
}

a{
    
    height: 100px;
    color:blue;
}